@import "variables";
@import 'mixins';

// FOOTER

@media only screen and (min-width: 320px) {

    .footer {
        background-image: url(".././img/background_footer_mobile.png");
        background-size: cover;
        margin-top: 60px;
        padding: 0px 20px;

        &__logo {
            padding-top: 32px;
            margin-left: -20px;
        }

        &__description {
            @include footer-description;
        }

        &__socials {
            margin-top: 32px;
        }

        &__title {
            margin-top: 32px;
            @include menu-subtitle;
        }

        &__list {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 20px;
            margin-top: 24px;

            &__ul:first-child {
                grid-column: 1;
                list-style-type: none;
            }

            &__ul:last-child {
                grid-column: 2;
                list-style-type: none;
            }

                .footer__list__ul--item {
                    @include footer-list;
                }
            }

        &__contact {
            // Estilos para el título de contacto
        }

        &__phone {
            // Estilos para el contenedor de los números de teléfono

            &__number {
                // Estilos para cada número de teléfono
            }
        }
    }

    .finish {
        // Estilos para el contenedor de la sección "finish"

        &__copyright {
            // Estilos para el texto de derechos de autor
        }

        &__terms {
            // Estilos para el texto de términos y políticas
        }
    }




}