@import "variables";
@import "mixins";

// MENU

@media only screen and (min-width: 320px) {
  .header__top {
    display: none;
  }

  .menu {
    padding-left: 20px;

    &__image {
      text-align: end;
    }

    &__title {
      @include rooms-title;
      text-align: left;
      margin-top: 0.5px;
    }

    &__description {
      @include rooms-description;
      text-align: left;
      margin-top: 24px;
    }

    &__item {
      margin-top: 32px;

      &__image {
        min-width: 120px;
        width: 30%;
        height: 120px;
        margin-bottom: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        margin: 0px 20px 0px 30px;

        .menu__item__subtitle {
          @include menu-subtitle;
          margin-bottom: 12px;
        }

        .menu__item__text {
          @include menu-text;
        }
      }
    }

    &__buttons {
      padding-right: 5%;
      margin: 24px 0px 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        font-size: 1rem;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:nth-child(1) {
          background-color: #f8f8f8;
          color: #111111;
          margin-right: 16px;
        }

        &:nth-child(2) {
          background-color: #bead8e;
          color: #ffffff;
        }
      }
    }

    &__slider {
      margin-bottom: 60px;

      .swiper-wrappe {
        width: 90%;
        min-width: 300px;
        height: 300px;
        display: flex;
        gap: 10px;
      }

      .swiper-slide {
        width: 80%;
        height: 80%;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 26px;
      }

      .swiper-pagination {
        display: flex;
        justify-content: center;
      }

      .swiper-pagination-bullet {
        background-color: #ededed;
      }

      .swiper-pagination-bullet-active {
        background-color: $gold-color;
      }
    }

    .item__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .menu__achievements {
      background-color: $availability-bg-color;
      padding-top: 48px;

      .menu__achievements__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        text-align: center;

        &--image {
          margin-bottom: 16px;
        }

        &--text {
          p {
            &:nth-child(1) {
              @include achievements-text(60px);
              color: #ffffff;
              display: inline;
            }

            &:nth-child(2) {
              @include achievements-text(14px);
              color: #ffffff;
              display: inline;
            }

            &:nth-child(3) {
              @include achievements-text(16px);
              color: #999999;
              margin-bottom: 48px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .header__top {
    display: block;
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #222222;

    & p{
        @include text-label;
        font-weight: normal;
        color: #ffffff;
        margin-left: 10%;
        padding-top: 10px; 
    }
  }

  .header__navbar {
    position: absolute;
    top: 35px;
    width: 80%;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index: 99;
  }

  .header__toggle {
    display: block;
  }

  .toggle__menu {
    display: none;
  }

  .menu__mobile {
    display: block;
    justify-content: center;
    flex-direction: row;
  }
}
