// HEADER

@mixin menu-items {
    font-family: "Archivo";
    color: #111111;
    font-size: 16px;
    font-weight: bold;
}

@mixin banner-text {
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    margin-bottom: 26px;
    color: #FFFFFF;
}

@mixin description-text {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

@mixin boton-gold {
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: $gold-color;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin boton-learn {
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #333333;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin text-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
}

@mixin section-title {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: -0.9px;
}

@mixin section-description {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    vertical-align: top;
}

//ROOMS

@mixin rooms-title {
    font-family: 'Archivo';
    font-style: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
}

@mixin rooms-description {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #222222;
}

@mixin info-title {
    font-family: "Old Standard TT", serif;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #222222;
}

@mixin info-description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 24px;
    color: #777777;
}

@mixin info-cost($font-size) {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-size: $font-size;
    line-height: 43px;
    text-align: center;
    vertical-align: top;
    color: $gold-color;
}

// INTRO VIDEO

@mixin intro-title {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: $gold-color;
}

@mixin intro-description {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

@mixin intro-text {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #c2c2c2;
}

// FACILITIES

@mixin box-number {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    text-align: right;
    vertical-align: top;
    color: rgba(34, 34, 34, 0.04);
}

// MENU

@mixin menu-subtitle {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.72px;
    color: #222222;
}

@mixin menu-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #222222;
}

//ACHIEVEMENTS

@mixin achievements-text($font-size) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: $font-size;
    text-align: center;
    color: #FFFFFF;
}

//FOOTER

@mixin footer-description {
    font-family: 'Archivo';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
}

@mixin footer-list {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: #777777;
}

@mixin footer-phone {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

@mixin finish-text {
    color: #222;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: -0.48px;
}