
@mixin banner-text {
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    line-height: 127%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    margin-bottom: 26px;
    color: #FFFFFF;
    }

    @mixin description-text {
        font-family: "Old Standard TT", serif;
        font-style: normal;
        font-size: 56px;
        line-height: 60px;
        text-align: left;
        vertical-align: top;
        letter-spacing: -1.2px;
        color: #FFFFFF;
    }

    @mixin boton-gold {
        font-family: 'Archivo';
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        vertical-align: top;
        letter-spacing: 2.8px;
        background-color: $gold-color;
        color: #FFFFFF;
        width: 217px;
        height: 60px;
        cursor: pointer;
    }

    @mixin boton-learn {
        font-family: 'Archivo';
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        vertical-align: top;
        letter-spacing: 2.8px;
        background-color: #333333;
        color:  #FFFFFF;
        width: 217px;
        height: 60px;
        cursor: pointer;
    }

    @mixin text-label {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        vertical-align: top;
        color: #FFFFFF;
}

    @mixin section-title{
        font-family: "Old Standard TT", serif;
        font-style: normal;
        font-size: 30px;
        line-height: 30px;
        vertical-align: top;
        letter-spacing: -0.9px;
    }

    @mixin section-description {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        vertical-align: top;
    }

