
@use "header";
@use "banner";
@use "availability";
@use "about";
@use "rooms";
@use "slider";
@use "intro";
@use "facilities";
@use "menu";
@use "footer";
@use "./aboutUs/ultimate";
@use "./aboutUs/info";
@use "../scss/aboutUs/facilities_about";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import "variables";
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

