@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@media only screen and (min-width: 320px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    z-index: 99;
    top: 0;
  }
  .header__navbar {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.29);
  }
  .header__toggle, .header__logo, .header__user-button, .header__search-button {
    padding: 5px;
  }
  .header__item {
    padding: 5px;
  }
  .header .toggle__menu {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  .header .toggle__menu__close {
    display: none;
  }
  .header .menu__mobile {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  }
  .header .menu__mobile .menu__item {
    padding-left: 21px;
    margin-bottom: 23px;
    list-style-type: none;
  }
  .header .menu__mobile .menu__item a {
    font-family: "Archivo";
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  .header .menu__mobile .menu__item a:hover {
    color: #BEAD8E;
  }
}
@media only screen and (min-width: 320px) {
  .banner {
    flex-direction: column;
    background-image: linear-gradient(rgba(190, 173, 142, 0.5), rgba(0, 0, 0, 0.8)), url("../assets/index/banner_hotel.jpg");
    background-size: cover;
    color: #ffffff;
    padding: 75px 0px 76px 20px;
    margin-top: 73px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .banner__title {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    margin-bottom: 26px;
    color: #FFFFFF;
    width: 75%;
  }
  .banner__description {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    margin-top: 40px;
  }
  .banner__buttons .banner__button--primary {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: #BEAD8E;
    margin-top: 40px;
    display: block;
    text-decoration: none;
    padding: 22px 0;
  }
  .banner__buttons .banner__button--primary:hover {
    transform: scale(1.1);
  }
  .banner__buttons .banner__button--secondary {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #333333;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 24px;
    display: block;
    text-decoration: none;
    padding: 22px 0;
  }
  .banner__buttons .banner__button--secondary:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1000px) {
  .banner {
    padding-top: 120px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner__description {
    max-width: 700px;
    color: #fff;
    font-family: "Old Standard TT";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: -3.6px;
  }
  .banner__buttons .banner__button--primary,
  .banner__buttons .banner__button--secondary {
    margin-top: 30px;
  }
  .banner__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media only screen and (min-width: 320px) {
  .availability {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    padding-left: 20px;
  }
  .availability__label {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    margin: 35px 0px 24px;
  }
  .availability__input {
    width: 90%;
    max-width: 350px;
    border: none;
    border-bottom: 2px solid #BEAD8E;
    background-color: #222222;
    color: #686868;
    padding: 0px;
    cursor: pointer;
  }
  .availability .availability__input::-webkit-calendar-picker-indicator {
    order: -1;
    filter: invert(0.5) sepia(1);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  .availability__button {
    margin: 42px 0px 36px;
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 250px;
  }
  .availability__button:hover {
    transform: scale(1.1);
  }
  .availability__items {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1000px) {
  .availability {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .availability__items {
    max-width: 400px;
    width: 20%;
  }
}
@media only screen and (min-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 100px;
  }
  .about__text {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.8px;
    color: #777777;
  }
  .about__title {
    font-family: "Old Standard TT";
    font-size: 3.5rem;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #111111;
    margin-top: 32px;
    margin-right: 30px;
  }
  .about__description {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: left;
    vertical-align: top;
    margin-top: 16px;
    margin-right: 20px;
  }
  .about__button {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid #ffffff;
    margin-top: 24px;
  }
  .about__button:hover {
    transform: scale(1.1);
  }
  .about__image, .about__image2 {
    width: 70%;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 270px;
    background-color: #e4e4e4;
    margin: 60px 14% 0px 14%;
    margin-left: 0px;
  }
  .about__image__team, .about__image2__team {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  .about__section {
    text-align: center;
    width: 70%;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    min-width: 270px;
    background-color: #ffffff;
  }
  .about__section__vector {
    margin-top: 55px;
  }
  .about__section__title {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: -0.9px;
    color: #111111;
    margin-top: 30px;
  }
  .about__section__description {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    vertical-align: top;
    padding: 0px 13%;
    color: #111111;
    margin-top: 21px;
  }
  .about__section2 {
    text-align: center;
    width: 70%;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    min-width: 270px;
    background-color: #222222;
    color: #ffffff;
  }
  .about__section2__vector {
    margin-top: 55px;
  }
  .about__section2__title {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: -0.9px;
    margin-top: 30px;
  }
  .about__section2__description {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    vertical-align: top;
    padding: 0px 13%;
    color: #ffffff;
    margin: 21px 0px 38px;
  }
}
@media only screen and (min-width: 1000px) {
  .about {
    width: 80%;
    display: grid;
    margin: 120px auto;
    padding-left: 0px;
    grid-template-columns: minmax(25%, auto) minmax(25%, auto) minmax(50%, auto);
    grid-gap: 40px;
  }
  .about__text,
  .about__title,
  .about__description,
  .about__button {
    grid-column: 3;
    display: flex;
  }
  .about__section {
    width: auto;
    grid-column: 1;
    grid-row: 1;
  }
  .about__section2 {
    width: auto;
    grid-column: 2;
    grid-row: 2;
  }
  .about__image {
    width: auto;
    height: auto;
    grid-column: 2;
    grid-row: 1;
    background-color: #ffffff;
  }
  .about__image2 {
    width: auto;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    background-color: #ffffff;
  }
  .about__text {
    margin-top: 120px;
  }
  .about__title {
    margin-top: -170px;
    text-align: start;
  }
  .about__description {
    width: 350px;
    margin-top: -380px;
  }
  .about__button {
    margin-top: -190px;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
}
.rooms__title {
  font-family: "Archivo";
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  color: #777777;
  margin-top: 60px;
}
.rooms__description {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #222222;
  margin-top: 25px;
}
.rooms__icons {
  text-align: center;
  margin-top: 25px;
}
.rooms__icons__image {
  position: relative;
  bottom: -50%;
  transform: translateY(70%);
  z-index: 9;
}
.rooms__slider {
  width: 100%;
  height: 244px;
}
.rooms__info {
  background-color: #ffffff;
  position: relative;
  top: -20px;
  z-index: 9;
  margin: 0px 5%;
  padding: 20px 24px;
}
.rooms__info__title {
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #222222;
}
.rooms__info__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  margin-top: 12px;
}
.rooms__info__cost {
  text-align: center;
  margin: 12px 0px 19px;
}
.rooms__info__cost p {
  display: inline;
}
.rooms__info__cost p:nth-child(1) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  vertical-align: top;
  color: #BEAD8E;
}
.rooms__info__cost p:nth-child(2) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 13px;
  line-height: 43px;
  text-align: center;
  vertical-align: top;
  color: #BEAD8E;
  line-height: 63px;
}

@media only screen and (min-width: 1000px) {
  .roomsPage {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .rooms {
    margin: 50px auto;
    width: 80%;
  }
  .rooms__slider {
    height: 80%;
  }
  .swiper-slide img {
    max-height: 550px;
    height: auto;
  }
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 320px) {
  .intro {
    background-color: #222222;
    padding: 65px 20px 0px;
  }
  .intro__title {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #BEAD8E;
  }
  .intro__description {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    margin-top: 32px;
  }
  .intro__text {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #c2c2c2;
    margin-top: 16px;
  }
  .intro__video {
    width: 100%;
    margin-top: 32px;
  }
  .intro__button {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 36px 0px 48px;
  }
  .intro__button:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1000px) {
  .intro {
    margin-left: 10%;
    margin-right: 10%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .intro__video {
    min-width: 470px;
    height: 460px;
    grid-column: 2;
    margin-top: -160px;
  }
  .intro__title, .intro__description, .intro__text {
    grid-column: 1;
  }
  .intro__button {
    margin-top: -25%;
  }
}
@media only screen and (min-width: 320px) {
  .facilities {
    padding: 0px 38px;
  }
  .facilities__title {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
    margin-top: 60px;
  }
  .facilities__description {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #222222;
    margin-top: 24px;
  }
  .facilities__box {
    margin-top: 32px;
  }
  .facilities__box__number {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    text-align: right;
    vertical-align: top;
    color: rgba(34, 34, 34, 0.04);
    position: relative;
    right: 8.5%;
  }
  .facilities__box__image {
    position: relative;
    top: -50px;
    z-index: 9;
  }
  .facilities__box__subtitle {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: -0.9px;
    font-weight: 400;
  }
  .facilities__box__text {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #c2c2c2;
    color: #777777;
    margin-top: 28px;
  }
  .facilities__box__pages {
    display: flex;
    justify-content: center;
    margin: 32px 0px 65px;
  }
  .facilities__box__pages img {
    cursor: pointer;
  }
}
@media only screen and (min-width: 320px) {
  .desktop {
    display: none;
  }
  .header__top {
    display: none;
  }
  .menu {
    padding-left: 20px;
  }
  .menu__image {
    text-align: end;
  }
  .menu__title {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
    text-align: left;
    margin-top: 0.5px;
  }
  .menu__description {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #222222;
    text-align: left;
    margin-top: 24px;
  }
  .menu__item {
    margin-top: 32px;
  }
  .menu__item__image {
    min-width: 120px;
    width: 30%;
    height: 120px;
    margin-bottom: 16px;
  }
  .menu__item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__item__details {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 30px;
  }
  .menu__item__details .menu__item__subtitle {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.72px;
    color: #222222;
    margin-bottom: 12px;
  }
  .menu__item__details .menu__item__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #222222;
  }
  .menu__buttons {
    padding-right: 5%;
    margin: 24px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu__buttons button {
    font-size: 1rem;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .menu__buttons button:hover {
    transform: scale(1.1);
  }
  .menu__buttons button:nth-child(1) {
    background-color: #f8f8f8;
    color: #111111;
    margin-right: 16px;
  }
  .menu__buttons button:nth-child(2) {
    background-color: #bead8e;
    color: #ffffff;
  }
  .menu__slider {
    margin-bottom: 60px;
  }
  .menu__slider .swiper-wrappe {
    width: 90%;
    min-width: 300px;
    height: 300px;
    display: flex;
    gap: 10px;
  }
  .menu__slider .swiper-slide {
    width: 80%;
    height: 80%;
  }
  .menu__slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 26px;
  }
  .menu__slider .swiper-pagination {
    display: flex;
    justify-content: center;
  }
  .menu__slider .swiper-pagination-bullet {
    background-color: #ededed;
  }
  .menu__slider .swiper-pagination-bullet-active {
    background-color: #BEAD8E;
  }
  .menu .item__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu .image__donnut2 {
    display: none;
  }
  .menu .menu__achievements {
    background-color: #222222;
    padding-top: 48px;
  }
  .menu .menu__achievements .menu__achievements__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
  }
  .menu .menu__achievements .menu__achievements__box--image {
    margin-bottom: 16px;
  }
  .menu .menu__achievements .menu__achievements__box--text p:nth-child(1) {
    font-size: 60px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    color: #ffffff;
    display: inline;
  }
  .menu .menu__achievements .menu__achievements__box--text p:nth-child(2) {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    color: #ffffff;
    display: inline;
  }
  .menu .menu__achievements .menu__achievements__box--text p:nth-child(3) {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    color: #999999;
    margin-bottom: 48px;
  }
  .header__user-button,
  .header__search-button {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1000px) {
  .desktop {
    display: block;
  }
  .header__top {
    display: block;
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #222222;
  }
  .header__top p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    font-weight: normal;
    color: #ffffff;
    margin-left: 10%;
    padding-top: 10px;
  }
  .header__navbar {
    position: absolute;
    top: 35px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index: 99;
  }
  .toggle__menu {
    display: none;
  }
  .header__logo {
    margin-right: 15%;
  }
  .header__search-button {
    position: absolute;
    right: 45px;
    border: 1px solid #7e7b7b;
    border-radius: 5px;
    margin: 10px;
  }
  .header__user-button {
    position: absolute;
    right: 90px;
    border: 1px solid #7e7b7b;
    border-radius: 5px;
    margin: 10px;
  }
  .menu {
    width: 70%;
    margin: 50px auto;
  }
  .image__donnut {
    display: none;
  }
  .menu .image__donnut2 {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    left: -20%;
  }
  .menu__desktop {
    gap: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .menu__desktop a {
    font-family: "Archivo";
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  .menu__desktop a:hover {
    color: #BEAD8E;
  }
  .menu__achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .facilities {
    width: 30%;
    margin: 50px auto;
  }
}
@media only screen and (min-width: 320px) {
  .footer {
    background-image: url("../assets/footer/background_footer_mobile.png");
    background-size: cover;
    margin-top: 60px;
    padding: 0px 20px;
  }
  .footer__logo {
    padding-top: 32px;
    margin-left: -20px;
  }
  .footer__description {
    font-family: "Archivo";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777777;
  }
  .footer__socials {
    margin-top: 32px;
  }
  .footer__title {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.72px;
    color: #222222;
    margin-top: 32px;
  }
  .footer__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-top: 24px;
  }
  .footer__list__ul:first-child {
    grid-column: 1;
    list-style-type: none;
  }
  .footer__list__ul:last-child {
    grid-column: 2;
    list-style-type: none;
  }
  .footer__list .footer__list__ul--item {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    color: #777777;
  }
  .footer__contact {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.72px;
    color: #222222;
    margin-top: 32px;
  }
  .footer__phone {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
  }
  .footer__phone .group {
    display: flex;
    flex-direction: column;
  }
  .footer__phone .item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  .footer__phone__image {
    margin-right: 20px;
  }
  .footer__phone__number p:nth-child(1) {
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
  }
  .footer__phone__number p:nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #222222;
    color: #777777;
  }
  .footer__phone #item3 {
    margin-bottom: 30px;
  }
  .finish {
    font-family: "Roboto";
    font-size: 16px;
    color: #222;
    font-weight: 700;
    letter-spacing: -0.48px;
    margin-top: 16px;
    padding-left: 20px;
  }
  .finish__copyright {
    margin-bottom: 24px;
  }
  .finish__terms {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .container {
    flex: 1;
    max-width: 330px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  .footer__list__ul--item {
    margin-bottom: 5px;
  }
  .finish {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 320px) {
  .ultimate {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #FFFFFF;
    margin-top: 73px;
    padding: 75px 20px 0px;
  }
  .ultimate__title {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 2.8px;
    margin-bottom: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  .ultimate__description {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    margin-bottom: 47px;
  }
  .ultimate__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .ultimate__box--link {
    background-color: #FFFFFF;
    overflow: visible;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
  }
  .ultimate__box--link a:nth-child(1) {
    font-family: "Archivo";
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
  }
  .ultimate__box--link a:nth-child(2) {
    font-family: "Archivo";
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    color: #BEAD8E;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1000px) {
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 320px) {
  .info {
    padding: 60px 20px 20px;
    background-color: #ffffff;
  }
  .info__video {
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .info__title {
    color: #222222;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    font-family: "Old Standard TT";
    letter-spacing: -1.16px;
    margin-top: 36px;
  }
  .info__content {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__content span {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  .info__content-item {
    max-width: 155px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
  }
  .info__content-img {
    margin: 44px 50px 18px;
  }
  .info__content-text {
    color: #222;
    text-align: center;
    font-size: 12px;
    font-family: "Archivo";
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 38px;
    text-align: center;
  }
  #info__bbq {
    display: none;
  }
  .info__content-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.36);
    background-color: #e1e1e1;
  }
  .restaurant {
    background: #ffffff;
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
    margin-top: 31px;
    padding: 20px;
  }
  .restaurant__picture {
    margin-bottom: 32px;
  }
  .restaurant__picture .restaurant__picture-image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant__title {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 26px;
  }
  .restaurant__description {
    font-family: "Old Standard TT";
    font-size: 40px;
    font-weight: 400;
    color: #222;
    letter-spacing: -1.05px;
    margin-bottom: 26px;
  }
  .restaurant__text {
    font-family: "Archivo";
    font-size: 14px;
    color: #777777;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .restaurant__button {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: #BEAD8E;
    text-transform: uppercase;
    box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.36);
  }
  .restaurant__button:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1000px) {
  .info {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px 15px;
  }
  .info__title {
    font-size: 55px;
    letter-spacing: -2.16px;
    padding: 0px 45px;
    margin-top: 65px;
  }
  .info__content {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .info__content #info__bbq {
    display: block;
  }
  .info .info__content-item .info__content-img {
    width: 54px;
    height: 53px;
  }
  .restaurant {
    width: 70%;
    display: grid;
    margin: 30px auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .restaurant__picture {
    display: flex;
    align-items: stretch;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 320px) {
  .facilitiesAbout {
    padding: 48px 20px 42px;
    background-color: #222222;
  }
  .facilitiesAbout__title {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
    font-weight: 700;
    color: #ffffff;
  }
  .facilitiesAbout__description {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #222222;
    margin-top: 16px;
    color: #ffffff;
  }
  .facilitiesAbout__box {
    margin-top: 32px;
    background-color: #292929;
    padding-bottom: 51px;
  }
  .facilitiesAbout__box__number {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    text-align: right;
    vertical-align: top;
    color: rgba(34, 34, 34, 0.04);
    position: relative;
    right: 8.5%;
    color: #222222;
  }
  .facilitiesAbout__box__image {
    padding-left: 18px;
    position: relative;
    top: -50px;
    z-index: 9;
  }
  .facilitiesAbout__box__subtitle {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: -0.9px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 16px;
  }
  .facilitiesAbout__box__text {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #c2c2c2;
    color: #ffffff;
    margin-top: 28px;
    padding: 0px 67px 0px 18px;
  }
  .counter {
    margin: 60px 20px 0px;
  }
  .counter .counter__title {
    font-family: "Archivo";
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-bottom: 24px;
  }
  .counter .counter__description {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    color: #222222;
    margin-bottom: 36px;
  }
  .counter span {
    display: flex;
    flex-direction: column;
  }
  .counter span .counter__items {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }
  .counter span .counter__items--image {
    margin: 0px 20px 0px;
  }
  .counter span .counter__items--text p:nth-child(1) {
    font-family: "Old Standard TT", serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    color: #222222;
    font-weight: normal;
  }
  .counter span .counter__items--text p:nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    vertical-align: top;
    color: #777777;
  }
  .counter span .counter__items--vector {
    margin-left: auto;
  }
  .counter span .counter__items--vector img {
    position: relative;
    margin-right: 20px;
  }
  .counter .counter__slider {
    width: 90%;
    margin: 25px auto;
  }
  .counter .counter__slider .swiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .counter .counter__slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counter .counter__slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 30px;
  }
  .counter .counter__slider .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .counter .counter__slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #000000;
  }
  .counter .counter__slider .swiper-pagination-bullet-active {
    background-color: #BEAD8E;
  }
}
@media only screen and (min-width: 1000px) {
  .facilitiesAbout__container {
    width: 90%;
    display: grid;
    margin: 25px auto;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .facilitiesAbout__box {
    margin-top: 0px;
  }
  .counter {
    width: 70%;
    margin: 100px auto 50px;
  }
  .counter span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 320px) {
  .roomsPage {
    padding: 48px 20px 0px;
  }
  .roomsPage__image {
    width: 100%;
  }
  .roomsPage__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .roomsPage__icons {
    text-align: center;
  }
  .roomsPage__icons__image {
    position: relative;
    bottom: -50%;
    transform: translateY(-50%);
    z-index: 9;
  }
  .roomsPage__title {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.72px;
    color: #222222;
    text-align: center;
    margin-top: -25px;
  }
  .roomsPage__description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 24px;
    color: #777777;
    text-align: center;
    padding: 0px 22px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .roomsPage__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .roomsPage__info p:nth-child(1) {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-size: 16px;
    line-height: 43px;
    text-align: center;
    vertical-align: top;
    color: #BEAD8E;
    font-weight: bold;
  }
  .roomsPage__info p:nth-child(2) {
    font-family: "Archivo", sans-serif;
    font-style: bold;
    font-size: 16px;
    line-height: 43px;
    text-align: center;
    vertical-align: top;
    color: #BEAD8E;
    color: #bdbdbd;
    font-weight: bold;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1000px) {
  .roomsPage {
    padding: 0px;
  }
  .roomsPage__pagination {
    grid-column: 2;
  }
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  .pageDetails {
    width: 80%;
    padding: 0 20px;
    max-width: 1210px;
    margin: 120px auto 60px;
  }
  .pageDetails__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5%;
    margin-bottom: 100px;
  }
  .pageDetails__container__box {
    width: 100%;
    max-width: 770px;
    padding: 0;
    position: relative;
  }
  .pageDetails__container__box--items {
    position: absolute;
    top: 0px;
    left: 0;
    width: 90%;
    padding: 10px 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pageDetails__container__box--items h4 {
    font-size: 14px;
    font-family: "Archivo", sans-serif;
    letter-spacing: 2.8px;
    color: #777;
    line-height: 15px;
  }
  .pageDetails__container__box--items h2 {
    font-size: 36px;
    font-family: "Old Standard TT", sans-serif;
    line-height: 48px;
    letter-spacing: -1.44px;
    margin-top: 12px;
    color: #222;
  }
  .pageDetails__container__box--items--price {
    color: #bead8e;
    font-family: "Archivo";
    font-weight: 700;
    font-size: 40px;
    display: inline-flex;
  }
  .pageDetails__container__box--items--price sub {
    font-size: 16px;
  }
  .pageDetails__container__box--image img {
    margin-top: 60px;
    width: 100%;
  }
  .pageDetails__container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pageDetails__container__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .pageDetails__container__form--title {
    color: #222;
    text-align: right;
    font-family: "Archivo";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.54px;
  }
  .pageDetails__container__form--label {
    font: normal 700 14px/15.2px "Archivo", sans-serif;
    font-size: 14px;
    line-height: 15.2px;
  }
  .pageDetails__container__form--input {
    border: none;
    outline: none;
    background-color: #f8f8f8;
    font: normal 400 26px/28.3px "Archivo", sans-serif;
    font-size: 14px;
    line-height: 15.2px;
    color: #777;
    padding: 15px;
    position: relative;
    max-width: 330px;
    cursor: text;
  }
  .pageDetails__container__form--btn {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 290px;
    border: #bead8e;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .pageDetails__container__form--btn:hover {
    transform: scale(1.1);
  }
  .pageDetails__container__description {
    color: #777;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .pageDetails__amenities {
    width: 70%;
    padding: 50px;
  }
  .pageDetails__amenities hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 40px;
  }
  .pageDetails__amenities--title {
    color: #222;
    font-family: "Old Standard TT";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .pageDetails__amenities__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pageDetails__amenities__container--items {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 15px;
  }
  .pageDetails__amenities__container--items--text {
    color: #777;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
  }
  .pageDetails__person {
    margin-top: 50px;
    background: #ffffff;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.59);
    padding: 60px 25px 50px;
    max-width: 370px;
    position: relative;
  }
  .pageDetails__person__avatar {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #d5d5d5;
    margin: 10px auto 40px;
    position: relative;
    overflow: hidden;
  }
  .pageDetails__person__avatar--image {
    width: 100%;
  }
  .pageDetails__person__avatar--check {
    position: absolute;
    top: 80px;
    right: 90px;
  }
  .pageDetails__person__title {
    text-align: center;
    font-family: "Old Standard TT", serif;
    font-size: 30px;
    line-height: 30px;
    color: #222;
    font-weight: 400;
    letter-spacing: -0.9px;
    margin-bottom: 16px;
  }
  .pageDetails__person__subtitle {
    text-align: center;
    color: #bdac8d;
    font-family: "Archivo";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .pageDetails__person__text {
    color: #777;
    text-align: center;
    font-family: "Archivo";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .pageDetails__cancellation {
    width: 75%;
    margin-top: 50px;
    padding: 50px;
  }
  .pageDetails__cancellation h2 {
    color: #222;
    font-family: "Old Standard TT";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .pageDetails__cancellation hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 35px;
  }
  .pageDetails__cancellation p {
    color: #777;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .related {
    padding: 0px 50px;
  }
  .related__title {
    width: 85%;
    color: #222;
    font-family: "Old Standard TT";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px auto;
  }
  .related__rooms {
    margin: 20px auto;
    width: 85%;
    gap: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) {
  .contact-cards-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 50px;
  }
  .contact-cards-container__items__img {
    position: relative;
    left: 50%;
    z-index: 1;
  }
  .contact-cards-container__items__icon {
    position: relative;
    bottom: 145px;
    z-index: 2;
  }
  .contact-cards-container__items__text {
    position: relative;
    margin: 0 auto;
    bottom: 140px;
    z-index: 2;
  }
  .contact-cards-container__items__text__title {
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    margin-bottom: 15px;
  }
  .contact-cards-container__items__text__info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    color: #222222;
    color: #777;
    width: 200px;
  }
  .image__container img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 90%;
    max-height: 750px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 270px;
  }
  .form {
    margin: 60px 0;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form__input {
    color: #777;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    height: 65px;
    display: block;
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
  }
  .form__button {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 60%;
    max-width: 500px;
    height: 65px;
    text-transform: uppercase;
    border-color: #f8f8f8;
    margin-top: 20px;
  }
  .form__button:hover {
    transform: scale(1.1);
  }
  #input__message {
    height: 165px;
  }
  #input__message::-moz-placeholder {
    position: relative;
    bottom: 30%;
  }
  #input__message::placeholder {
    position: relative;
    bottom: 30%;
  }
}
@media only screen and (min-width: 1000px) {
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
  .contact-cards {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-cards-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: -25px;
  }
  .contact-cards-container__items__img {
    position: relative;
    left: 10%;
  }
  .image {
    margin: -100px 10% auto;
  }
  .form {
    max-width: 750px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px auto;
  }
  .form__input {
    width: 100%;
  }
  .form__button {
    grid-column: 1/-1;
    margin: 0px auto;
    width: 40%;
  }
  #input__message {
    width: 205%;
  }
}
@media only screen and (min-width: 320px) {
  .offers {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .offers__image {
    width: 100%;
    overflow: hidden;
  }
  .offers__image img {
    width: 100%;
    height: auto;
  }
  .offers__container {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -50px;
    padding: 30px;
  }
  .offers__container--text h6 {
    color: #777;
    font-family: "Archivo";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .offers__container--text h1 {
    width: 60%;
    color: #222;
    font-family: "Old Standard TT";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1.44px;
  }
  .offers__container--prices {
    position: absolute;
    display: inline;
    top: 20px;
    right: 20px;
    text-align: right;
    font-family: "Archivo";
    font-weight: 700;
    line-height: normal;
  }
  .offers__container--prices h5:first-child {
    color: #bead8e;
    font-size: 20px;
    text-decoration: line-through;
  }
  .offers__container--prices h5:first-child sub {
    font-size: 12px;
    text-decoration: line-through;
  }
  .offers__container--prices h5:last-child {
    color: #de5777;
    font-size: 30px;
  }
  .offers__container--prices h5:last-child sub {
    font-size: 16px;
  }
  .offers__container--line {
    width: 100%;
    height: 2px;
    background-color: #ececec;
    margin: 20px auto;
  }
  .offers__container--box {
    display: grid;
    grid-template-columns: minmax(55%, auto) minmax(45%, auto);
    grid-template-rows: minmax(60%, auto) minmax(60%, auto);
    gap: 5%;
  }
  .offers__container--box--button {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 2.8px;
    background-color: #BEAD8E;
    color: #FFFFFF;
    width: 217px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 217px;
    width: 80%;
    border: #bead8e;
    margin-top: 50px;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 2;
  }
  .offers__container--box--button:hover {
    transform: scale(1.1);
  }
  .offers__container--box--paragraph {
    color: #777;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .offers__container--box--amenities1, .offers__container--box--amenities2 {
    display: grid;
    color: #777;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .popular {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .popular__title {
    color: #bdac8d;
    font-family: "Archivo";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-top: 60px;
  }
  .popular__description {
    color: #000000;
    font-family: "Old Standard TT";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -2.4px;
    margin-top: 5px;
  }
  #popular__box {
    padding: 18px 20px 0px;
  }
}
@media only screen and (min-width: 1000px) {
  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
  .offers {
    width: 70%;
    margin-top: 100px;
  }
  .offers__image {
    height: 500px;
  }
  .offers__container {
    width: 84%;
  }
  .offers__container--text h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .offers__container--prices {
    top: 30px;
    right: 50px;
  }
  .offers__container--prices h5:first-child {
    font-size: 30px;
  }
  .offers__container--prices h5:last-child {
    font-size: 40px;
  }
  .offers__container--line {
    margin: 30px auto;
  }
  .offers__container--box {
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
  }
  .offers__container--box--button {
    margin-top: 5px;
  }
  .offers__container--box--paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .offers__container--box--amenities1, .offers__container--box--amenities2 {
    gap: 15px;
    font-size: 16px;
  }
  .popular {
    background-color: #222;
  }
  .popular__description {
    color: #fff;
    font-size: 80px;
    margin-top: 65px;
  }
  .roomsPage__box {
    background-color: #ffffff;
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.5);
  }
  .roomsPage__box:hover {
    transform: scale(1.05);
  }
  #popular__box {
    width: 75%;
    padding: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */