@import "../variables";
@import "../mixins";

// ABOUT US

@media only screen and (min-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 100px;

    &__text {
      font-family: "Archivo";
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 2.8px;
      color: #777777;
    }

    &__title {
      font-family: "Old Standard TT";
      font-size: 3.5rem;
      vertical-align: top;
      letter-spacing: -1.2px;
      color: #111111;
      margin-top: 32px;
      margin-right: 30px;
    }

    &__description {
      font-family: "Archivo";
      font-size: 14px;
      line-height: 24px;
      color: #777777;
      text-align: left;
      vertical-align: top;
      margin-top: 16px;
      margin-right: 20px;
    }

    &__button {
      @include boton-gold;
      border: 2px solid #ffffff;
      margin-top: 24px;
    }

    &__image,
    &__image2 {
      width: 70%;
      height: 300px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      min-width: 270px;
      background-color: #e4e4e4;
      margin: 60px 14% 0px 14%;
      margin-left: 0px;

      &__team {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__section {
      text-align: center;
      width: 70%;
      height: 300px;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      min-width: 270px;
      background-color: #ffffff;

      &__vector {
        margin-top: 55px;
      }

      &__title {
        @include section-title;
        color: #111111;
        margin-top: 30px;
      }

      &__description {
        @include section-description;
        padding: 0px 13%;
        color: #111111;
        margin-top: 21px;
      }
    }

    &__section2 {
      text-align: center;
      width: 70%;
      height: 300px;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      min-width: 270px;
      background-color: #222222;
      color: #ffffff;

      &__vector {
        margin-top: 55px;
      }

      &__title {
        @include section-title;
        margin-top: 30px;
      }

      &__description {
        @include section-description;
        padding: 0px 13%;
        color: #ffffff;
        margin: 21px 0px 38px;
      }
    }
  }
}

// Desktop

@media only screen and (min-width: 1000px) {
  .about {
    width: 80%;
    display: grid;
    margin: 120px auto;
    padding-left: 0px;
    grid-template-columns: minmax(25%, auto) minmax(25%, auto) minmax(50%, auto);
    grid-gap: 40px;
  }

  .about__text,
  .about__title,
  .about__description,
  .about__button {
    grid-column: 3;
    display: flex;
  }

  .about__section {
    width: auto;
    grid-column: 1;
    grid-row: 1;
  }

  .about__section2 {
    width: auto;
    grid-column: 2;
    grid-row: 2;
  }

  .about__image {
    width: auto;
    height: auto;
    grid-column: 2;
    grid-row: 1;
    background-color: #ffffff;
  }

  .about__image2 {
    width: auto;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    background-color: #ffffff;
  }

  .about__text {
    margin-top: 120px;
  }

  .about__title {
    margin-top: -170px;
    text-align: start;
  }

  .about__description {
    width: 350px;
    margin-top: -380px;
  }

  .about__button {
    margin-top: -190px;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ultimate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
  }

  .ultimate__box {
    position: relative;
    bottom: -125px;
    height: 50px;
  }
}
