@import "../variables";
@import "../mixins";

// ROOMS

// .rooms {
//   &__title {
//     @include rooms-title;
//     margin-top: 60px;
//   }

//   &__description {
//     @include rooms-description;
//     margin-top: 25px;
//   }

//   &__icons {
//     text-align: center;
//     margin-top: 25px;

//     &__image {
//       position: relative;
//       bottom: -50%;
//       transform: translateY(70%);
//       z-index: 9;
//     }
//   }

//   &__slider {
//     width: 100%;
//     height: 244px;
//   }

//   &__info {
//     background-color: #ffffff;
//     position: relative;
//     top: -20px;
//     z-index: 9;
//     margin: 0px 5%;
//     padding: 20px 24px;

//     &__title {
//       @include info-title;
//     }

//     &__description {
//       @include info-description;
//       margin-top: 12px;
//     }

//     &__cost {
//       text-align: center;
//       margin: 12px 0px 19px;

//       p {
//         display: inline;
//       }

//       p:nth-child(1) {
//         @include info-cost(40px);
//       }
//       p:nth-child(2) {
//         @include info-cost(13px);
//         line-height: 63px;
//       }
//     }
//   }
// }

// Desktop

@media only screen and (min-width: 1000px) {
  .pageDetails {
    width: 80%;
    padding: 0 20px;
    max-width: 1210px;
    margin: 120px auto;

    &__container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 5%;

      &__box {
        width: 100%;
        max-width: 770px;
        padding: 0;
        position: relative;

        &--items {
          position: absolute;
          top: 0px;
          left: 0;
          width: 90%;
          padding: 10px 30px;
          background-color: #ffffff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 1px solid #bead8e;

          h4 {
            font-size: 14px;
            font-family: "Archivo", sans-serif;
            letter-spacing: 2.8px;
            color: #777;
            line-height: 15px;
          }
          h2 {
            font-size: 42px;
            font-family: "Old Standard TT", sans-serif;
            line-height: 48px;
            letter-spacing: -1.44px;

            margin: 12px 0 16px;
            color: #222;
          }

          &--price {
            color: #bead8e;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 40px;
            display: inline-flex;
            
            & sub {
              font-size: 16px;
            }
          }
        }

        &--image img {
          margin-top: 60px;
          width: 100%;
      }
      }
    }
  }

  //   .rooms {
  //     margin: 50px auto;
  //     width: 80%;
  //   }

  //   .rooms__slider {
  //     height: 800%;
  //   }

  //   .swiper-slide img {
  //     height: auto;
  //   }

  //   .ultimate {
  //     display: flex;
  //     justify-content: space-around;
  //     flex-direction: row;
  //     padding-bottom: 30px;
  //   }

  //   .ultimate__box {
  //     position: relative;
  //     bottom: -125px;
  //     height: 50px;
  //   }
}
