@import "../variables";
@import "../mixins";

// ROOMS

// .rooms {
//   &__title {
//     @include rooms-title;
//     margin-top: 60px;
//   }

//   &__description {
//     @include rooms-description;
//     margin-top: 25px;
//   }

//   &__icons {
//     text-align: center;
//     margin-top: 25px;

//     &__image {
//       position: relative;
//       bottom: -50%;
//       transform: translateY(70%);
//       z-index: 9;
//     }
//   }

//   &__slider {
//     width: 100%;
//     height: 244px;
//   }

//   &__info {
//     background-color: #ffffff;
//     position: relative;
//     top: -20px;
//     z-index: 9;
//     margin: 0px 5%;
//     padding: 20px 24px;

//     &__title {
//       @include info-title;
//     }

//     &__description {
//       @include info-description;
//       margin-top: 12px;
//     }

//     &__cost {
//       text-align: center;
//       margin: 12px 0px 19px;

//       p {
//         display: inline;
//       }

//       p:nth-child(1) {
//         @include info-cost(40px);
//       }
//       p:nth-child(2) {
//         @include info-cost(13px);
//         line-height: 63px;
//       }
//     }
//   }
// }

// Desktop

@media only screen and (min-width: 1000px) {
  .pageDetails {
    width: 80%;
    padding: 0 20px;
    max-width: 1210px;
    margin: 120px auto;

    &__container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 5%;
      margin-bottom: 100px;

      &__box {
        width: 100%;
        max-width: 770px;
        padding: 0;
        position: relative;

        &--items {
          position: absolute;
          top: 0px;
          left: 0;
          width: 90%;
          padding: 10px 30px;
          background-color: #ffffff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h4 {
            font-size: 14px;
            font-family: "Archivo", sans-serif;
            letter-spacing: 2.8px;
            color: #777;
            line-height: 15px;
          }
          h2 {
            font-size: 42px;
            font-family: "Old Standard TT", sans-serif;
            line-height: 48px;
            letter-spacing: -1.44px;

            margin: 12px 0 16px;
            color: #222;
          }

          &--price {
            color: #bead8e;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 40px;
            display: inline-flex;

            & sub {
              font-size: 16px;
            }
          }
        }

        &--image img {
          margin-top: 60px;
          width: 100%;
        }
      }

      //FORM

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &__form {
        display: flex;
        align-items: center;
        flex-direction: column;

        &--title {
          color: #222;
          text-align: right;
          font-family: "Archivo";
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.54px;
        }

        &--label {
          font: normal 700 14px/15.2px "Archivo", sans-serif;
          font-size: 14px;
          line-height: 15.2px;
        }

        &--input {
          border: none;
          outline: none;
          background-color: #f8f8f8;
          font: normal 400 26px/28.3px "Archivo", sans-serif;
          font-size: 14px;
          line-height: 15.2px;
          color: #777;
          padding: 15px;
          position: relative;
          max-width: 330px;
          cursor: text;
        }

        &--btn {
          @include boton-gold;
          width: 290px;
          border: #bead8e;
          margin-top: 20px;
        }
      }

      &__description {
        color: #777;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &__amenities {
      width: 70%;
      padding: 50px;

      & hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 40px;
      }

      &--title {
        color: #222;
        font-family: "Old Standard TT";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 15px;
      }

      &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &--items {
          display: flex;
          flex-direction: row;
          gap: 5%;
          margin-bottom: 15px;

          &--text {
            color: #777;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    &__person {
      margin-left: 0;
      background: #ffffff;
      box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.27);
      padding: 60px 25px 50px;

      &__avatar {
        width: 150px;
        aspect-ratio: 1/1;
        border-radius: 75px;
        background-color: #d5d5d5;
        margin: 100px auto 40px;
        position: relative;
        overflow: hidden;

        &--image{
          width: 100%;
        }
      }
    }
  }
}
