@import "../variables";
@import '../mixins';

// FACILITIES ABOUT

@media only screen and (min-width: 320px) {

    .facilitiesAbout {
        padding: 48px 20px 42px;
        background-color: $availability-bg-color;

        &__title {
            @include rooms-title;
            font-weight: 700;
            color: #FFFFFF;
        }

        &__description {
            @include rooms-description;
            margin-top: 16px;
            color: #FFFFFF;
        }

        &__box {
            margin-top: 32px;
            background-color: #292929;
            padding-bottom: 51px;

            &__number {
                @include box-number;
                position: relative;
                right: 8.5%;
                color: $availability-bg-color;
            }

            &__image {
                padding-left: 18px;
                position: relative;
                top: -50px;
                z-index: 9;
            }

            &__subtitle {
                @include section-title;
                font-weight: 400;
                color: #FFFFFF;
                padding-left: 16px;
            }

            &__text {
                @include intro-text;
                color: #FFFFFF;
                margin-top: 28px;
                padding: 0px 67px 0px 18px;
            }
        }

        &__pages {
            display: flex;
            justify-content: center;
            margin-top: 24px;

            img {
                cursor: pointer;
            }

        }
    }

    .counter {
        margin: 60px 20px 0px;

        .counter__title {
            @include rooms-title;
            text-transform: uppercase;
            font-weight: 600;
            text-align: left;
            margin-bottom: 24px;
        }

        .counter__description {
            @include intro-description;
            color: $availability-bg-color;
            margin-bottom: 36px;
        }

        & span {
            display: flex;
            flex-direction: column;


            .counter__items {
                width: 335px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;

                &--image {
                    margin: 0px 20px 0px;
                }

                &--text {

                    p:nth-child(1) {
                        @include intro-description;
                        color: $availability-bg-color;
                        font-weight: normal;
                    }

                    p:nth-child(2) {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: left;
                        vertical-align: top;
                        color: #777777;
                    }
                }

                &--vector {
                    
                    & img{
                        position: relative;
                        margin-right: 20px;
                    }
                }
            }

        }

        .counter__slider {

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


}